html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #d3dbe9;
  font-family: "Outfit", sans-serif;
}

#main-container {
  background-color: #ffffff;
  width: 90%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  margin: 20% auto;
}

#img-can {
  margin: 20px 20px 0px 20px;
  overflow: hidden;
}

img {
  width: 100%;
  border-radius: 10px;
  margin: 0;
  object-fit: cover;
}

#text-content {
  margin-top: 0;
  padding: 20px;
}

h3,
p {
  font-family: "Outfit", sans-serif;
  margin-top: 0;
}

h3 {
  font-weight: 700;
  text-align: center;
  color: #1f3251;
}

p {
  font-weight: 400;
  text-align: center;
  color: #91a6c7;
}

footer {
  height: 40px;
  background: #ffffff;
  color: white;
  text-align: center;
  padding-bottom: 50px;
  margin: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}

@media (min-width: 500px) {
  #main-container {
    background-color: #ffffff;
    width: 375px;
    padding: 5px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    margin: 10% auto;
  }
}
